.custom-modal {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .custom-modal .modal-content {
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  