.PlanTrabajoGuia {
    display: flex;
    flex-direction: column;

    width: 100%; /* Asegura que tome todo el ancho disponible */
    padding: 0 20px; /* Agrega un poco de relleno a los lados */
}

.subtituloH {
    display: flex;
    margin: 20px;
    width: 100%; /* Ajusta esto según tus necesidades */
    padding: 0 20px; /* Agrega un poco de padding si es necesario */
}

.subtituloH h1 {
    padding: 10px;
    margin: 0; /* Elimina los márgenes predeterminados del h1 si es necesario */
    font-size: 24px; /* Ajusta el tamaño de fuente según sea necesario */
}

.add-button {
    display: flex; /* Utiliza flex para alinear el contenido del botón */
    align-items: center; /* Centra el contenido del botón verticalmente */
    justify-content: center; /* Centra el contenido del botón horizontalmente */
    width: 40px; /* Ancho del botón, ajusta según tus necesidades */
    height: 40px; /* Altura del botón, ajusta según tus necesidades */
    margin: 0 10px; /* Espacio alrededor del botón */
    background-color: #518CFF; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 50%; /* Redondea las esquinas para hacerlo circular */
    cursor: pointer; /* Cursor en forma de mano al pasar el ratón sobre el botón */
    font-size: 24px; /* Ajusta el tamaño del ícono o texto dentro del botón */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra opcional para el botón */
}


.add-button:hover {
    background-color: #007bff;
}


.activity-full-container {
    display: flex;
    align-items: flex-start;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 960px; /* Máximo ancho permitido */
    margin-bottom: 20px; /* Espacio entre cada conjunto de tarjeta y botones */
}

.activity-buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 125px; /* Ajusta según el ancho deseado para los botones */

}

.activity-buttons button {
    margin-bottom: 10px; /* Espacio entre botones */
    padding: 8px 16px;
    background-color: #518CFF;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 15px;
}

.activity-buttons button:hover {
    background-color: #007bff;
}

.page-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
}

.page-buttons button {
    padding: 10px 20px;
    background-color: #518CFF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.page-buttons button:hover {
    background-color: #007bff;
}

.modal {
    display: block; /* Mostrar el modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Hacer que el modal sea scrollable si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ancho máximo del modal */
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.comentarios-lista {
    margin-bottom: 20px;
}

.comentario {
    margin-bottom: 10px;
}

.comentario p {
    margin: 0;
}

.comentario-nuevo textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comentario-nuevo button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comentario-nuevo button:hover {
    background-color: #45a049;
}
