.header-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 20px; /* Adds spacing between cards */
}

.PlanTrabajoGuiaa {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-buttons, .page-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-button {
    font-size: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.row {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 10px;
}