# Node modules
node_modules

# Logs
npm-debug.log
logs
*.log

# Directory for Docker volumes
data

# Git and version control
.git
.gitignore

# Operating system files
.DS_Store

# Editor directories and files
.vscode

