.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.Button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #518CFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Button:hover {
    background-color: #007bff;
}