.main-image {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the image vertically in case of extra space */
    margin-top: 20px; /* Adds some space above the image */
}
.main-image img {
    width: 40%; /* Adjusts the width of the image to be smaller */
    height: auto; /* Keeps the aspect ratio intact */
}

.logo-image {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px; 
}

.logo-image img {
    width: 35%; 
    height: auto; 
}

.button-container {
    
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; 
     justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.menu-button {
    flex: 1 1 auto; 
    min-width: 15%;
    max-width: 15%;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    flex-wrap: wrap;
}

.menu-button:hover {
    background-color: #3e25ac; 
}
.subtitulo h1{
    margin-left: 30%;
    color: white;

}